.suggested-word-count {
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 30px;
    font-size: 1.2rem;
    margin-top: 10px;
    /* letter-spacing: .1rem; */
}

.word-box {
    /* border: 2px solid orange; */
    min-width: 200px;
    max-width: 25%;
    margin: 50px auto;
    margin-top: 5px;
    padding: 1.5rem;
    background-color: white;
    
}

.word {
    /* border: 1px solid pink; */
    margin: 0;
    font-style: normal;
    font-weight: 100;
    font-size: 50px;
        
}

.volume-icon img {
    width: 20px;
    margin-left: .5rem;
}

.others-suggested {
    text-align: center;
}

.others-suggested .word {
    font-size: .9rem;
    font-weight: bold;
    cursor: pointer;
}
